.config/whatsdesk/
.bash_history
.bash_logout
.cache/
*cache*
*Cache*
.pulse-cookie
.wget-hsts
Android/
Code/
Desktop/
Downloads/
FiraxisLive/
Pictures/
Videos/
polybar-themes/
xcapy/
xero.jpeg
yay/
.config/ibus/*-unix-*
*.lock
.config/StardewValley/Saves/
.config/StardewValley/ErrorLogs/
.config/Google/AndroidStudio*/
.cofig/jetbrains/
.config/spotify/Users/
.android/
*.bak
.config/Android Open Source Project/
.config/qBittorrent/
*auth_token*
.grade/
.java/
.pki/
.steam/
.thunderbird/
.viminfo
*backup
Photoshop/
