.config/whatsdesk/
.bash_history
.bash_logout
.cache/
.pulse-cookie
.wget-hsts
Android/
Code/
Desktop/
Downloads/
FiraxisLive/
Pictures/
Videos/
polybar-themes/
xcapy/
xero.jpeg
yay/
.config/ibus/*-unix-*
*.lock
.config/StardewValley/Saves/
